---
  - name: Create folder for files
    command: mkdir myfiles

  - name: Copying local keyfile to path with Dockerfile
    shell: cat /home/ubuntu/.ssh/id_rsa.pub > ./myfiles/authorized_keys

  - name: Copy files to remote node
    copy:
      src: "{{ item.src }}"
      dest: "{{ item.dest }}"
      owner: ubuntu
      group: ubuntu
      mode: 0644
    with_items:
      - { src: 'Dockerfile', dest: './myfiles/Dockerfile' }
      - { src: 'create_docker.sh', dest: './myfiles/create_docker.sh' }
      - { src: 'get_ip.sh', dest: './myfiles/get_ip.sh' }
  
  - name: Building the image
    docker_image:
      path: .
      name: "{{ img_n }}"

  - name: Creating a LAN for containers
    command: docker network create --driver bridge "{{ net_name }}"

  - name: Running N containers
    command: bash create_docker.sh arg1 arg2 arg3
    args:
      num: "{{ number }}"
      nam: "{{ img_n }}"
      nets: "{{ net_name }}"

  - name: Getting the ip of each container
    command: bash get_ip.sh